
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #E50914;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.front-end .slick-next:before, .front-end .slick-prev:before{
  color:#6BD1FF;
}

.back-end .slick-next:before, .back-end .slick-prev:before{
  color:#00C86F;
}

.data-science .slick-next:before, .data-science .slick-prev:before{
  color:#9cd33b;
}

.filmes .slick-next:before, .filmes .slick-prev:before{
  color:orange;
}

.games .slick-next:before, .games .slick-prev:before{
  color:red;
}

.tecnologia .slick-next:before, .tecnologia .slick-prev:before{
  color:#6b5be2;
}

.link-novo{
  margin: 30px 0;
  display: block;
}
